* {
padding:0;
margin:0;
}

body{
   background-image: url(css/grfx/header.jpg), url(css/grfx/bg.png);
   background-repeat: no-repeat, repeat-x;
   background-position: top, top;
   font-family: sans-serif;
   margin: auto;
   padding-left: 50px;
}
div.top-menu {
    text-align: left; 
    width:800px;
    margin: auto;
    padding-top:10px;
}
div.tekst{
margin-top: 0px;
margin: auto;
padding-left: 10px;
width:790px;
font-size:120%;
background-color: white;
height: 490px;
text-align: left;
margin-left: -25px; 
background: cover;

}
div.foto1{
	float:left;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
}
a {

	float: left;
}

div a{
	text-decoration: none;
	color: rgb(96,198,200);
	font-size: 20px;
	padding:15px;
	display: inline-block;
	border-top:2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	margin-top: 150px;
}